.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    background-color: #acacac;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #acacac;
}

.root-container {
    margin: 30px;
}

.table-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.options-container {
    display: flex;
    justify-content: end;
    margin: 20px;
}

th {
    font-weight: bold;
    font-size: 16px;
}

.table-section {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%; 
    min-width: 300px;
}